<nav class="site-nav" aria-label="Main navigation">
    <a class="brand" href="/">Fxnn_FPV</a>
    <button class="menu-toggle" type="button" aria-expanded="false" aria-controls="menu-list">
        Menu
    </button>

    <ul id="menu-list" class="menu-list">
        <li><a href="#builds">Builds</a></li>
        <li><a href="#clips">Clips</a></li>
        <li><a href="#about-me">About Me</a></li>
        <li><a href="#milestones">Milestones</a></li>
        <li><a href="#achievements">Achievements</a></li>
        <li><a href="#impressum">Impressum</a></li>
    </ul>
</nav>